name: Update Types

on:
  workflow_dispatch:
    inputs:
      api_specs_ref:
        description: 'git ref or full SHA for https://github.com/Azure/azure-rest-api-specs'
        required: true
        default: 'master'

jobs:
  update-types:
    name: Update Types
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - name: Clone azure-rest-api-specs
        uses: actions/checkout@v2
        with:
          repository: Azure/azure-rest-api-specs
          path: workflow-temp/azure-rest-api-specs
          ref: ${{ github.event.inputs.api_specs_ref }}
      
      - name: Install autorest.bicep npm packages
        run: npm ci
        working-directory: src/autorest.bicep
      
      - name: Build autorest npm packages
        run: npm run build
        working-directory: src/autorest.bicep
      
      - name: Install generator npm packages
        run: npm ci
        working-directory: src/generator
      
      - name: Run generator
        run: npm run generate -- --specs-dir ../../workflow-temp/azure-rest-api-specs
        working-directory: src/generator

      - id: get_swagger_gh_uri
        name: Get GitHub URI for azure-rest-api-specs
        run: |
          git_sha=`git rev-parse --short HEAD`
          echo "::set-output name=gh_uri::https://github.com/Azure/azure-rest-api-specs/tree/$git_sha"
        working-directory: workflow-temp/azure-rest-api-specs

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: |
            Update Generated Types
            
            Generate types for ${{ steps.get_swagger_gh_uri.outputs.gh_uri }}
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: autogenerate
          branch-suffix: short-commit-hash
          delete-branch: true
          title: Update Generated Types
          body: Generate types for ${{ steps.get_swagger_gh_uri.outputs.gh_uri }}
          labels: autogenerate
          draft: false